* {
  /*
  background-color: black;
  color: white;
  */
  background-color: var(--body-bg-color);
  color: var(--font-color);
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home Styling */
.home-container {
  /*
  display: flex;
  flex-direction: row; 
  */
  
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: auto;
  height: 768px;
  opacity: 1;
  animation: fade 4s linear;
}
/* Home Styling Ends */

/* Toggle & Theme Styling */

.theme-togg-container {
  padding-top: 20px;
  padding-left: 25px;
}

.toggle-container {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  cursor: pointer;
  transition: all .3s;
}

.handle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  overflow: hidden;
}

.icon {
  color: #f88748;
}

.dark {
  --body-bg-color: black;
  --font-color: white;
}

.light {
  --font-color: #0D3046;
  --body-bg-color: white;
  font-weight: bolder; 
}
/* Toggle & Theme Styling Ends */

/* Nav Styling */
.menu-btn {
  position: absolute;
  margin-top: 10px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 10px;
  border-color: var(--font-color);
  transition: transform .7s ease-in-out;
  margin-left: 90vw;
  color: var(--font-color);
  opacity: 1;
  animation: fadeIn 8s linear;
}

.menu-btn:hover {
  border-radius: 50%;
  transform: rotate(180deg);
}

.lines-container {
  padding: 5px;
  background-color: transparent;
}

.menu-line1, .menu-line2, .menu-line3, .contact-line1, .contact-line2 {
  width: 35px;
  height: 2px;
  background-color: var(--font-color);
  margin: 10px 0;
  transition: 0.4s;
}

.change .menu-line1 {
  transform: translate(0, 13px) rotate(-45deg);
  
}

.change .menu-line2 {
  opacity: 0;
}

.change .menu-line3 {
  transform: translate(0, -11px) rotate(45deg);
}

.change {
  padding: 5px;
  background-color: transparent;
}

.navigation-container {
  height: 100%;
  width: 100%;
  padding: 150px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 3s;
}

.navigation-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-links {
  color: var(--font-color);
  margin-top: 25px;
  margin-bottom: 45px;
  margin-top: 45px;
  font-size: 20px;
}

.navigation-links:hover {
  font-weight: 800;
}

.hidden-nav{
  visibility: hidden;
  width: 100%;
}

.line {
  border-bottom: 1px solid white;
  width: 75%;
  animation: draw-line 5s;
  animation-fill-mode: forwards;
}

.arrowup-icon-hide{
  visibility: hidden;
}

.arrowup-icon {
  width: 60px;
  height: 60px;
  margin-left: 90vw;
  margin-bottom: 20px;
  background-color: transparent;
  
  position: fixed;
  bottom: 0;
  animation: fadeIn 8s linear;
}

.arrowup-icon:hover {

}
/* Nav Styling */


/* Animations */

@keyframes draw-line {
  0% {
    width: 0;
  }
  50% {
    border-bottom: 1px solid blue;
  }
  100% {
    width: 75%;
    border-bottom: 1px solid var(--font-color);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.50;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0.2
  }
  75% {
    opacity: 0.4
  }
  100% {
    opacity: 1
  }
}

@keyframes slideIn {
  0% {

  }
}

@keyframes slideOut {
  0% {
    margin-left: 100px;
  }
  50% {
    margin-left: 400px;
  }
  100% {
    margin-left:800px;
  }
}
/* Animations End */

/* About Styling */ 

.people-icon {
  width: 100%;
}
.about-title {
  
  
}

.about-text-title {
  text-align:center;
}

.scd-text {
  color: #6CE5E8;
  font-weight: bold;
}

.about-container {
  padding: 100px;
}



.about-image-container {
  display: flex;
  justify-content: center;
}

/*
.about-content {
  visibility: hidden;
  height: 0px;
}
*/

.about-links-container {
  width: 100%;
  display: block;
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 100px;
  padding: 30px;
  margin-bottom: 10px;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  font-size: 24px;
  
 
}

.about-links-icon {
  background-color: transparent;
  margin-right: 600px;
}

.about-icon-reverse {
  background-color: transparent;
  margin-right: 600px;
  transform: rotate(-90deg);
  transition-delay: 3s;
}

.about-content1-hidden {
  visibility: hidden;
}

.about-content1 {
  position: absolute;

  visibility: visible;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--font-color);
  padding: 50px;
}


.about-links-container:hover {
  background-color: var(--font-color);
  color: var(--body-bg-color);
}

.about-button-hide {
  
  animation: slideOut 3s linear;
  animation-fill-mode: forwards;
  overflow: hidden;
  width: 100%;
  display: block;
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 100px;
  padding: 40px;
  margin-bottom: 10px;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  font-size: 24px;
  
}


/*
.about-content1, .about-content2, .about-content3, .about-content4, .about-content5 {

  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--font-color);
  padding: 50px;
}
*/

/*
.about-content1:hover {
  border-style: solid;
  border-width: 10px;
}
*/
/* About Styling Ends */ 

/* Link Styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
/* Link Styling Ends */

/* Contact Styling */

.contact-container {
  padding: 100px;
  color: var(--body-bg-color);
}

.contact-close-btn {
  padding: 10px;
  border-radius: 50%;
  margin-left: 325px; 
}

.contact-close-btn:hover {
  background-color: white;
}

.contact-line1 {
  transform: translate(0, 6px) rotate(-45deg);
  background-color: var(--font-color);
}

.contact-line2 {
  transform: translate(0, -6px) rotate(45deg);
  background-color: var(--font-color);
}
/* Contact Styling Ends */


/* Our Vision Styling */

.vision-container {
  padding: 100px;
  
}

.vision-text-container {
  color: var(--font-color);
}
/* Vision Styling Ends */

/* Services Styling */

.services-container {
  padding: 100px;
}

.neurons-image {
  width: 100%;
  height: auto;
  animation: slideIn 4s linear;
}

.early-detection-container {
  display: flex;
  justify-content: center;
}

.services-title {

}

.services-list {
  list-style: none;

}
/* Services Styling Ends */

/* Footer Styling */

.footer-container {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 0px;
  background-color: var(--font-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  background-color: var(--font-color);
  padding-right: 100px;
}

.footer-links {
  background-color: var(--font-color);
  color: var(--body-bg-color);
  padding: 20px;
  font-size: 12px;
}

/* Footer Ends */

/* Mobile Responsiveness */

@media only screen and (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-top: 200px;
    margin-bottom: 100%;
    
  }

  .logo-container {
    text-align: center;
  }

  .navigation-links-container {
    margin-top: 100px;
  }

  .navigation-container {
    padding-bottom: 100%;
    overflow: hidden;
    padding: 50px;
  }

  .menu-btn {
    margin-left: 75vw;
    margin-top: 20px;
  }
  .lines-container {
    margin: 5px;
   
  }

  .arrowup-icon {
    opacity: 1;
    margin-left: 75vw;
    margin-bottom: 40px;
  }
  .people-icon, .percentage-icon, .percentage-icon2, .lessthanhalf-icon, .thirtyfive-icon {
    width: 200px;
  }
  .about-text-title {
    font-size: 20px;
  }
  .change {
    padding: 10px;
    background-color: transparent; 
  }
  .early-detection-image {
    width: 225px;
    height: auto;
  }
  .about-container, .contact-container, .services-container, .vision-container {
    padding: 50px;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .home-container {
    display: flex;
    flex-direction: column;
  }

  .logo-container {
    text-align: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .home-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .home-container {
    display: flex;
    flex-direction: row;
  }
}