* {
  /*
  background-color: black;
  color: white;
  */
  background-color: var(--body-bg-color);
  color: var(--font-color);
  
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home Styling */
.home-container {
  /*
  display: flex;
  flex-direction: row; 
  */
  
}

.logo-container {
  display: flex;
  justify-content: center;
  
  align-items: center;

}

.logo {
  width: 75%;
  height: auto;
  opacity: 1;
  animation: fade 4s linear;
  margin-bottom: 100px;
}
/* Home Styling Ends */

/* Toggle & Theme Styling */

.theme-togg-container {
  padding-top: 20px;
  padding-left: 25px;
}

.toggle-container {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  cursor: pointer;
  transition: all .3s;
  animation: fadeIn 8s linear;
}

.handle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  overflow: hidden;
}

.icon {
  color: #f88748;
}

.dark {
  --body-bg-color: black;
  --font-color: white;
}

.light {
  --font-color: #0D3046;
  --body-bg-color: white;
  font-weight: bolder; 
}

.blue {
  justify-content: flex-end;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(33, 129, 193, 1) 0%, rgba(108, 229, 232, 1) 100.2%);

  height: 40px;
  width: 80px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  cursor: pointer;
  transition: all .3s;
  animation: fadeIn 8s linear;
}

.purple {
  justify-content: flex-start;
  background-image: linear-gradient(109.8deg, rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3%);

  height: 40px;
  width: 80px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  cursor: pointer;
  transition: all .3s;
  animation: fadeIn 8s linear;
}
/* Toggle & Theme Styling Ends */

/* Nav Styling */
.menu-btn {
  position: absolute;
  margin-top: 10px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 10px;
  border-color: var(--font-color);
  transition: transform .7s ease-in-out;
  margin-left: 90vw;
  color: var(--font-color);
  opacity: 1;
  animation: fadeIn 8s linear;
}

.menu-btn:hover {
  border-radius: 50%;
  transform: rotate(180deg);
}

.lines-container {
  padding: 5px;
  background-color: transparent;
}

.menu-line1, .menu-line2, .menu-line3, .contact-line1, .contact-line2 {
  width: 35px;
  height: 2px;
  background-color: var(--font-color);
  margin: 10px 0;
  transition: 0.4s;
}

.change .menu-line1 {
  transform: translate(0, 13px) rotate(-45deg);
}

.change .menu-line2 {
  opacity: 0;
}

.change .menu-line3 {
  transform: translate(0, -11px) rotate(45deg);
}

.change {
  padding: 5px;
  background-color: transparent;
}

.navigation-container {
  width: 100%;
  height: 100%;
  padding: 150px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 3s;
}

.navigation-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-links {
  color: var(--font-color);
  margin-top: 25px;
  margin-bottom: 45px;
  margin-top: 45px;
  font-size: 20px;
}

.navigation-links:hover {
  font-weight: 800;
}

.hidden-nav{
  visibility: hidden;
  width: 100%;
}

.line {
  border-bottom: 1px solid white;
  width: 75%;
  animation: draw-line 5s;
  animation-fill-mode: forwards;
}

.arrowup-icon-hide{
  visibility: hidden;
}

.arrowup-icon {
  width: 60px;
  height: 60px;
  margin-left: 90vw;
  margin-bottom: 20px;
  background-color: transparent;
  
  position: fixed;
  bottom: 0;
  animation: fadeIn 8s linear;
}

.arrowup-icon:hover {

}
/* Nav Styling */


/* Animations */

@keyframes draw-line {
  0% {
    width: 0;
  }
  50% {
    border-bottom: 1px solid blue;
  }
  100% {
    width: 75%;
    border-bottom: 1px solid var(--font-color);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.50;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0.2
  }
  75% {
    opacity: 0.4
  }
  100% {
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideOut {
  0% {
    margin-left: 100px;
  }
  50% {
    margin-left: 400px;
  }
  100% {
    margin-left:800px;
  }
}


@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    }
    50% {
      transform: translateY(50%);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    
    }
}

@keyframes moveText {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

/* Animations End */

/* About Styling */ 

.people-icon {
  width: 100%;
}
.about-title {
  
  
}

.about-text-title {
  text-align:center;
}

.scd-text {
  color: #6CE5E8;
  font-weight: bold;
}

.about-container {
  padding: 100px;
}



.about-image-container {
  display: flex;
  justify-content: center;
}

/*
.about-content {
  visibility: hidden;
  height: 0px;
}
*/

.about-links-container {
  width: 100%;
  display: block;
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 100px;
  padding: 50px;
  margin-bottom: 10px;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center; 
}

/*
.about-links-container:hover > .about-links-icon {
  transform: rotate(90deg);
}
*/

.about-links-icon {
  background-color: transparent;
  float: left;
}

.about-icon-reverse {
  background-color: transparent;
  margin-right: 600px;
  transform: rotate(-90deg);
  transition-delay: 3s;
}

.about-content1-hidden {
  visibility: hidden;
}

.about-content1 {
  position: relative;

  visibility: visible;
  
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--font-color);
  padding: 50px;
}

.about-links-container:hover {
  background-color: var(--font-color);
  color: var(--body-bg-color);
}

.about-button-hide { 
  animation: slideOut 3s linear;
  animation-fill-mode: forwards;
  overflow: hidden;
  width: 100%;
  display: block;
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 100px;
  padding: 40px;
  margin-bottom: 10px;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  font-size: 24px;
}


/*
.about-content1, .about-content2, .about-content3, .about-content4, .about-content5 {

  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--font-color);
  padding: 50px;
}
*/

/*
.about-content1:hover {
  border-style: solid;
  border-width: 10px;
}
*/
/* About Styling Ends */ 

/* Link Styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
/* Link Styling Ends */

/* Contact Styling */
.hidden-contact {
    visibility: hidden;
    height: 0px;
}

.contact-show {
  width: 100%;
  height: 100%;
  padding: 100px;
  position: absolute;
  z-index: 999999999;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 3s;
  margin-bottom: 100%;
 
}

.contact-container {
  padding: 100px;
  color: var(--body-bg-color);

}

.contact-close-btn {
  padding: 10px;
  border-radius: 50%;
  margin-left: 80vw;
  margin-bottom: 50px;
}

.contact-close-btn:hover {
  
}

.contact-line1 {
  transform: translate(0, 6px) rotate(-45deg);
  background-color: var(--font-color);
}

.contact-line2 {
  transform: translate(0, -6px) rotate(45deg);
  /*background-color: var(--font-color);*/
}
/* Contact Styling Ends */


/* Our Vision Styling */

.vision-container {
  padding: 100px;
  
}

.vision-text-container {
  color: var(--font-color);
}
/* Vision Styling Ends */

/* Services Styling */

.services-container {
  padding: 100px;
}

.neurons-image {
  width: 100%;
  height: auto;
  animation: slideIn 4s linear;
}

.early-detection-container {
  display: flex;
  justify-content: center;
}

.services-title {

}

.services-list {
  list-style: none;

}
/* Services Styling Ends */

/* Numbers Styling */

.numbers-stack{
  
}

.numbers-card {
  width: 100%;
  height: 80vh;
}

#numbers1 {
  background-color: black;
  position: fixed;
}

#numbers2 {


  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
  display: flex;
  padding-top: 27rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

#numbers3 {
  background-color: black;
}

.numbers-icon2 {
  background-color: #A4B4C5;
}

.percentage-icon2 {
  background-color: #A4B4C5;
}

.numbers-section3 {
  background-color: #A4B4C5;
  color: var(--body-bg-color);
}

.numbers-section3-container {
  border-bottom: 3px solid var(--body-bg-color);
  border-top: 3px solid var(--body-bg-color);
 
 
}


.numbers-p {
  width: 50%;
  font-size: 24px;
}

.numbers-section3-div {
  padding-top: 100px;
}

/* Numbers End */

/* Footer Styling */

.footer-container {
  padding-top: 100px;
  padding-bottom: 0px;
  background-color: var(--font-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  background-color: var(--font-color);
  padding-right: 100px;
}

.footer-links {
  background-color: var(--font-color);
  color: var(--body-bg-color);
  padding: 20px;
  font-size: 12px;
}

/* Footer Ends */

/* Privacy Styling */
.privacy-policy-container {
  padding: 100px;
  background-color: var(--body-bg-color);
}

.privacy-policy-content {
  color: var(--font-color);
}

.back-arrow-icon {
  width: 60px;
  height: 60px;
  color: var(--font-color);
}

.back-arrow-icon:hover {
  
}
/* Privacy Policy Styling */

/* Mobile Responsiveness */

@media only screen and (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
    margin-bottom: 100%; 
  }

  .logo-container {
    text-align: center;
  }

  .navigation-links-container {
    margin-top: 100px;
  }

  .navigation-container {
    padding-bottom: 100%;
    overflow: hidden;
    padding: 50px;
  }

  .menu-btn {
    margin-left: 80vw;
    margin-top: 15px;
  }

  .lines-container {
    /*
    padding: 2px;
    */
  }

  .arrowup-icon {
    opacity: 1;
    margin-left: 80vw;
    margin-bottom: 40px;
  }
  .people-icon, .percentage-icon, .percentage-icon2, .lessthanhalf-icon, .thirtyfive-icon {
    width: 100px;
  }
  .about-text-title {
    font-size: 20px;
  }
  .change {
    /*
    padding: 10px;
    */
    background-color: transparent; 
  }
  .early-detection-image {
    width: 225px;
    height: auto;
  }
  .about-container, .contact-container, .services-container, .vision-container {
    padding: 50px;
    overflow: hidden;
  }
  .close-offcanvas {
    margin-left: 75vw;
  }
  .contact-close-btn {
    margin-left: 60vw;
  }
  .contact-show {
    padding: 50px;
  }
  .section.s-heading-first {
    padding-top: 600px;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .home-container {
    display: flex;
    flex-direction: column;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 100%;
  }

  .contact-close-btn {
    margin-left: 75vw;
  }

  .contact-show {
    padding: 100px
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    margin-bottom: 100%;
    margin-top: 25%;
  }
  .navigation-container {
    padding-top: 25%;
  }
  .contact-close-btn {
    margin-left: 75vw;
  }
  .contact-show {
    padding: 100px;
  }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .home-container {
    display: flex;
    flex-direction: row;
  }
  .contact-close-btn {
    margin-left: 80vw;
  }
}

/* TESTING */
.section {
  position: relative;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.section.s-hero {
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin-top: 0rem;
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--body-bg-color);
  -webkit-transform: translate3d(0px, 0px, 10px);
  transform: translate3d(0px, 0px, 10px);
  color: var(--font-color);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section.s-radius {
  padding-top: 0rem;
  padding-bottom: 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.section.s-radius.sr-large {
  padding-top: 4rem;
}

.section.s-heading {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22.5rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section.s-heading-first {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.card-content2 {
  position: relative;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.heading-xl {
  margin-top: 0px;
  font-size: 5rem;
  line-height: 0.95;
  font-weight: 400;
  letter-spacing: -0.05em;
}


.text-center {
  text-align: center;
  /*
  animation-duration: 3s;
  animation-name: slideIn;
  */
}



.section-radius {
  position: absolute;
  left: 0%;
  top: 100%;
  right: 0%;
  z-index: 1;
  width: 100%;
  height: 5rem;
  margin-top: -1px;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: var(--body-bg-color);
}

.main {
  position: relative;
  height: 100%;
}

.background-white {
  background-color: var(--font-color);
  color: var(--body-bg-color);
}

.background-blurple {
  background-color: #A4B4C5;
}

.container-max {
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
}



.z-9 {
  position: relative;
  z-index: 9;
  -webkit-transform: translate3d(0px, 0px, 9px);
  transform: translate3d(0px, 0px, 9px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.z-7 {
  position: relative;
  z-index: 7;
  -webkit-transform: translate3d(0px, 0px, 7px);
  transform: translate3d(0px, 0px, 7px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
.section-head-bg-extension {
  position: absolute;
  left: 0%;
  top: -5rem;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 5rem;
}
*/

.c-body {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

/*
.scroll-text span span {
  position: relative;
  opacity: 0;
  animation: moveText 0.75s forwards;
}

.scroll-text span {
  min-width: 0.5em;
  text-align: center;
  padding: 30px;
  margin: 0px;
  
}


textPath {
  fill: white;
  animation: rotateText 3s linear infinite;
  
}
*/


.scroll-text {
  top: 0;
  position: absolute;
}

.scroll-text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 60px;
  background: transparent;
}

.scroll-text span span {
  
}

.scroll-down-container {
  margin-bottom: 100%;
  position: relative;
  /*
  width: 120px;
  */
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateText 7s linear infinite;
  margin-top: -50px;
}

.scrolling-letters {
  
  
  
}

.hidden-offcanvas {
  visibility: hidden;
}

.close-offcanvas {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 50%;
  border-color: var(--font-color);
  transition: transform .7s ease-in-out;
  margin-left: 75%;
  color: var(--body-bg-color);
  opacity: 1;
  margin-bottom: 50px;
}

.offcanvas {
  background-color: var(--body-bg-color);
}

.offcanvas-backdrop.show {
  opacity: 1;
}

.offcanvas-backdrop.fade {
  opacity: 1;
}

.offcanvas-backdrop {
  background-color: var(--body-bg-color);
}

.close-line1, .close-line2{
  width: 35px;
  height: 2px;
  background-color: var(--font-color);
  transition: 0.4s;
  transform: translate(0, 2px) rotate(45deg);
}

.close-line1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.numbers-title {
  animation: slideUp 1s linear;
}

/* About motion div styling */
.motion-div {
 
}
  
